.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear; /* Changed the animation duration to 10 seconds */
  }
}

.App-header {
  background-color: #42e900; /* Changed the background color to purple (#7b1fa2) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 173, 173);
}

.App-link {
  color: #008afc; /* Changed the link color to blue (#64b5f6) */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
